html, body {
	font-family: "Open Sans", Ubuntu, "Trebuchet MS", sans-serif;
	font-size: 1.05em;
	tab-size: 4;
	
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

a {
	text-decoration: none;
	transition: all 290ms ease;
}

a:hover {
	text-decoration: none;
}

nav a {
	display: inline-block;
	position: relative;
}
	
nav a:after {
	content: "";
	display: block;
	margin: auto;
	margin-top: 0;
	height: 2px;
	width: 0px;
	background-color: rgba(20, 243, 140, 0);
	transition: all 500ms ease;
}

nav a:hover:after {
	width: 100%;
	background-color: rgba(40, 247, 200, 1);
}

.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after {
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(data-tooltip);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}