if !user
	p Not logged in.
else
	.thread
		input#new-thread-title(type='text', placeholder='Title', pattern='.{3,}', maxlength=100, tabindex=1)
		
		.posts
			.post
				.post-author
					a.user.ajax(href='/+' + user.nick, title=user.nick)
						img.user-image(src=user.avatar ? (user.avatar + '?s=50&r=x') : '/images/elements/no-gravatar.png')
				.post-content
					textarea#post-input(placeholder='Content', tabindex=2)
			.post-input-toolbar
				select#tag(title='Category', tabindex=3)
					option(value='general', selected) General
					option(value='news') News
					option(value='anime') Anime
					
					if user.role === 'admin'
						option(value='update') Update
					
					option(value='suggestion') Suggestion
					option(value='bug') Bug
				
				if user.role === 'admin'
					input#sticky(type='checkbox')
					| Sticky
				
				input.post-submit(type='submit', onclick=`window.newThread()`, tabindex=4, value='Create thread')