if !user
	p Not logged in.
else
	.thread
		input#new-thread-title(type='text', placeholder='Title', pattern='.{3,}', maxlength=100, tabindex=1)
		
		.posts
			.post
				.post-author
					a.user.ajax(href='/+' + user.nick, title=user.nick)
						img.user-image(src=user.avatar ? (user.avatar + '?s=50&r=x') : '/images/elements/no-gravatar.svg')
				.post-content
					textarea#post-input(placeholder='Content', tabindex=2)
			.post-input-toolbar
				mixin option(value, title, tag)
					option(value=value, selected=(value === tag) ? 'selected' : undefined)= title
				
				select#tag(title='Category', tabindex=3)
					+option('general', 'General', tag)
					+option('news', 'News', tag)
					+option('anime', 'Anime', tag)
					if user.role === 'admin'
						+option('update', 'Update', tag)
					+option('suggestion', 'Suggestion', tag)
					+option('bug', 'Bug', tag)
				
				if user.role === 'admin'
					input#sticky(type='checkbox')
					| Sticky
				
				input.post-submit(type='submit', onclick=`$.newThread()`, tabindex=4, value='Create thread')