.anime-container
	float left
	width 100%
	padding 0
	text-align left
	border-radius 3px
	box-sizing border-box

.anime-links
	float left
	width 100%
	display flex
	flex-flow row wrap

.anime-links-category
	flex 1
	flex-basis 100%
	// min-width 300px
	// max-width 100%

.anime-title-db
	text-align left

.anime-second-title-container
	float left
	width 100%
	text-align left
	margin-top -0.6em
	margin-bottom 0.6em

.anime-second-title
	font-size 0.9em
	font-weight normal
	color rgba(60, 60, 60, 0.5) !important

.image-and-summary
	float left
	width 100%
	display flex
	flex-flow row wrap

.anime-summary-header
	display none

.anime-summary
	flex 1
	margin-left 1.2em
	min-width 300px
	.anime-header
		margin-top 0

.anime-trailer
	width 100%

.genre-list
	list-style-type none
	margin-left 0.5em

.genre
	//

.sources
	font-size 0.8em
	opacity 0.5

angle = 20deg
scale = 0.5

.anime-page-image
	border-radius 3px
	flex 0
	box-shadow 4px 4px 8px rgba(0, 0, 0, 0.12)
	filter saturate(100%)
	transition all 290ms ease
	&:hover
		filter saturate(130%)
		box-shadow 6px 6px 12px rgba(0, 0, 0, 0.2)

.search-performance
.anime-count
	float left
	opacity 0.25

.search-result
	float left
	width 100%
	padding 0.25em 0.5em
	border-radius 3px
	box-sizing border-box
	&:focus
		background-color rgb(32, 32, 32) !important
		color rgb(232, 232, 232) !important

#search-results
	float left
	width 100%
	text-align left

.users-count
	opacity 0.5
	font-size 0.9em

.popular-anime
	padding 0.5em

.popular-anime-image
	width 100px !important
	height 141px !important

.anime-websites
	float left
	width 100%

.entry-error
	color red !important

.entry-ok
	color green !important

/*.anime-websites
	display flex
	flex-flow row wrap
	justify-content center
	padding 1em

.anime-website-link
	flex-grow 0
	padding 0.75em 1em
	margin 0.5em
	color cornflowerblue !important
	background linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%)
	border 1px solid rgb(32, 32, 32)
	box-shadow 0 0 2px rgb(255, 255, 255), 0 -2px 5px rgba(0, 0, 0, 0.08) inset
	border-radius 3px
	letter-spacing 1px
	transition background 500ms ease !important
	width 200px
	text-transform uppercase
	&:hover
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.95) 100%)*/

@media only screen and (max-width: 800px)
	.anime-title-db
	.anime-second-title-container
		text-align center

	.anime-summary
		margin-left 0
		margin-top 1em

	.anime-page-image-container
		width 100%
		text-align center

	.anime-summary-header
		display block