.anime-database-image
	float left
	width 100%
	max-width 225px !important
	border-radius 3px
	box-shadow 0 0 4px rgb(0, 0, 0)

.anime-info
	float left
	max-width 928px
	padding 0 1em

.anime-header
	margin-top 0

.search-performance
.anime-count
	float left
	opacity 0.25

#search-results
	float left
	width 100%
	text-align left