.anime-container
	float left
	width 100%
	max-width 760px
	padding 0 1em
	text-align center
	border-radius 3px
	box-sizing border-box

.anime-db-title
	text-align center

.anime-japanese-title
	float left
	width 100%
	text-align center
	margin-top -0.8em
	margin-bottom 1em
	font-size 0.9em
	font-weight normal
	opacity 0.5

.anime-db-image
.anime-db-image-left
.anime-db-image-right
	width 100%
	max-width 225px !important
	border-radius 3px

angle = 20deg
scale = 0.5

.anime-db-image
	box-shadow 4px 4px 8px rgba(0, 0, 0, 0.7)
	filter saturate(100%)
	transition all 290ms ease
	&:hover
		filter saturate(130%)
		box-shadow 6px 6px 12px rgba(0, 0, 0, 0.8)

.anime-db-image-left
.anime-db-image-right
	filter grayscale(1)

.anime-db-image-left
	transform translateX(-10px) scale(scale) rotateZ(angle * -1)

.anime-db-image-right
	transform translateX(10px) scale(scale) rotateZ(angle)

.search-performance
.anime-count
	float left
	opacity 0.25

.search-result
	float left
	width 100%
	padding 0.25em 0.5em
	border-radius 3px
	box-sizing border-box
	&:focus
		background-color rgb(32, 32, 32) !important
		color rgb(232, 232, 232) !important

#search-results
	float left
	width 100%
	text-align left

.popular-anime
	padding 0.5em

.popular-anime-image
	width 100px !important
	height 141px !important

.anime-websites
	display flex
	flex-flow row wrap
	justify-content center
	padding 1em

.anime-website-link
	flex-grow 0
	padding 0.75em 1em
	margin 0.5em
	color cornflowerblue !important
	background linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%)
	border 1px solid rgb(32, 32, 32)
	box-shadow 0 0 2px rgb(255, 255, 255), 0 -2px 5px rgba(0, 0, 0, 0.08) inset
	border-radius 3px
	letter-spacing 1px
	transition background 500ms ease !important
	width 200px
	text-transform uppercase
	&:hover
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.95) 100%)

@media only screen and (max-width: 800px)
	.anime-db-image-left
	.anime-db-image-right
		display none