[Unit]
Description=Anime Notifier
After=network.target

[Service]
Type=simple
User=MAKEFILE_USER
ExecStart=MAKEFILE_EXEC
WorkingDirectory=MAKEFILE_PWD
Restart=on-failure
#Nice=-19
#CPUSchedulingPolicy=fifo
#CPUSchedulingPriority=99
#IOSchedulingClass=realtime
#IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target