section
	header
		h2 Admin Panel - Database
	
	include ../header.jade
	
	h3 Tables
	table.sets
		tbody
			each set in sets
				tr.set
					td.set-name= set.name
					td.set-objects(title='Objects')= set.objects
					td.set-memory(title='Memory usage')= prettyBytes(set.memoryUsage)