section
	header
		h2 Roadmap
	
	ul
		li "Completed" anime list
		li Click on notifications should lead to episode page
		li User Themes (styleable list, can be published for other users)
		li Show episode counts in anime list
		li Custom settings for each anime (fansub group, video quality, etc.)
		li ARN as a list provider (user can edit episode count in-app)
		li Subscriptions
		li Hulu support
		li Daisuki support
		li Funimation support
		li twist.moe support
		li Magnet links
		li iOS web app