section
	header
		h2 Roadmap
	
	h3 Done
	ul
		li.done anilist.co support
		li.done anime-planet.com support
		li.done hummingbird.me support
		li.done myanimelist.net support
		li.done nyaa.eu support
		li.done Push notifications in the browser
		li.done Add an official streaming provider (CrunchyRoll, Hulu, Daisuki, etc.)
		li.done Anime database (staff can edit links and add exceptions for the matching algorithm)
	
	h3 Near future
	ul
		li twist.moe support
		li "Completed" anime list
		li Chrome Extension facelift
		li Show episodes on the web list
		li Custom settings for each anime (fansub group, video quality, etc.)
		li Magnet links
		li Styleable list (user themes, CSS)
		
		
	h3 Far future
	ul
		li Firefox extension
		li Android app
		li ARN as a list provider (user can edit episode count in-app)
		li Subscriptions
		li iOS app
		
	h3 Permanently
	ul
		li Improve list provider matching
		li Improve anime provider matching