section
	header
		h2 Roadmap
	
	h3 Done
	ul
		li.done anilist.co support
		li.done anime-planet.com support
		li.done hummingbird.me support
		li.done myanimelist.net support
		li.done nyaa.se support
		li.done Push notifications in the browser
		li.done CrunchyRoll support
		li.done Anime database (staff can edit links and add exceptions for the matching algorithm)
		li.done Chrome Extension facelift
		li.done Firefox extension
		li.done Android web app
	
	h3 Near future
	ul
		li Editors can add anime to the database to fix wrong matches
		li Click on notifications should lead to episode page
		li "Completed" anime list
		li User Themes (styleable list, can be published for other users)
		li Anime list UI improvements (show episode counts)
		li Custom settings for each anime (fansub group, video quality, etc.)
		li Magnet links
		li twist.moe support

	h3 Far future
	ul
		li ARN as a list provider (user can edit episode count in-app)
		li Subscriptions
		li Hulu support
		li Daisuki support
		li Funimation support
		li iOS app
		
	h3 Permanently
	ul
		li Improve list provider matching
		li Improve anime provider matching