section
	header
		h2 Roadmap
	
	h3 Near future
	ul
		li.done anilist.co support
		li.done anime-planet.com support
		li.done hummingbird.me support
		li.done myanimelist.net support
		li.done nyaa.se support
		li Push notifications in the browser
		li Show episodes on the web list
		li Improve anime provider matching
		li Custom settings for each anime (fansub group, video quality, etc.)
		li "Completed" anime list
		li Magnet links
		li Styleable list (user themes, CSS)
		li Chrome Extension facelift
		li Firefox extension
		li Android app
		
	h3 Far future
	ul
		li Add an official streaming provider (CrunchyRoll, Hulu, Daisuki, etc.)
		li Anime database (staff can edit links and add exceptions for the matching algorithm)
		li Subscriptions
		li iOS app