p
	a.ajax(href='/admin') Dashboard
	|  | 
	
	if user && user.role === 'admin'
		a.ajax(href='/admin/database') Database
		|  | 
	
	a.ajax(href='/admin/anime/new') Add anime
	|  | 
	a.ajax(href='/admin/providers/list') List providers
	|  | 
	a.ajax(href='/admin/providers/download') Download providers
	|  | 
	a.ajax(href='/admin/edits') Edits