p
	a.ajax(href='/admin') Dashboard
	|  | 
	a.ajax(href='/admin/database') Database
	|  | 
	a.ajax(href='/admin/providers/list') List providers
	|  | 
	a.ajax(href='/admin/providers/download') Download providers
	|  | 
	a.ajax(href='/admin/edits') Edits