section
	header
		h2 API
	
		p Welcome to the notify.moe API!
		p The information on this page is meant for developers who want to use the standardized data from notify.moe in their own applications.
		p Currently there are 2 endpoints with read-only data:
		ul
			li
				a(href='/api/animelist/' + exampleName, target='_blank')= 'https://notify.moe/api/animelist/' + exampleName
			li
				a(href='/api/users/' + exampleName, target='_blank')= 'https://notify.moe/api/users/' + exampleName
		
		p Authentication is not required at the time of writing this, however this might change in the future.