[Unit]
Description=Anime Notifier
After=network.target

[Service]
Type=simple
User=MAKEFILE_USER
ExecStart=MAKEFILE_PWD/notify.moe
WorkingDirectory=MAKEFILE_PWD
Restart=on-failure
Nice=0

[Install]
WantedBy=multi-user.target