[Unit]
Description=Backup
After=animenotifier.service

[Service]
Type=simple
User=MAKEFILE_USER
ExecStart=MAKEFILE_GOBIN/nano-backup
WorkingDirectory=MAKEFILE_PWD
Restart=on-failure
Nice=15

[Install]
WantedBy=multi-user.target