[Unit]
Description=Image Server
After=animenotifier.service

[Service]
Type=simple
User=MAKEFILE_USER
ExecStart=MAKEFILE_GOBIN/imageserver
WorkingDirectory=MAKEFILE_PWD
Restart=on-failure

[Install]
WantedBy=multi-user.target