section
	header
		h2 Statistics
	
	section
		header
			h3 General
			
		table
			tbody
				tr
					td.statistics-label Users
					td.statistics-value= users.total
				
				tr
					td.statistics-label Anime
					td.statistics-value 0
					
	section
		header
			h3 Gender
			
		table
			tbody
				tr
					td.statistics-label Male
					td.statistics-value= users.gender.male
				
				tr
					td.statistics-label Female
					td.statistics-value= users.gender.female