.statistics
	float left
	width 100%
	display flex
	flex-direction column

.statistics-panel
	flex 1
	max-width 728px

.statistics-label
	width 50%

.statistics-value
	text-align right
	font-weight bold