.image-container
	float left
	width auto

.image
	border-radius 3px

.intro-container
	float left
	width auto
	padding 0.5em
	margin-left 1em

.nick
	margin-top 0
	margin-bottom 0

.fields
	clear both

.field
	float left
	width 100%
	padding 0 0.5em
	box-sizing border-box

.value
	margin-left 0.5em
	font-weight bold
	font-size 1.1em

.role
	opacity 0.6

.list-provider-username
	margin-top 0
	margin-bottom 0
	font-size 0.9em

.main
	// ...

.alternative
	opacity 0.4

#animeList
	max-width 728px
	font-size 0.9em

@media only screen and (max-width: 900px)
	.image-container
		width 100%

	.intro-container
		margin 1em 0
		padding 0
		width 100%

	.nick, .tagline, .website, .role
		width 100%
		text-align center