.image-container
	float left
	width auto

.profile-image
	border-radius 3px
	width 320px
	height 320px

.intro-container
	float left
	width auto
	padding 0.5em
	margin-left 1em
	max-width 728px

#nick
	margin-top 0
	margin-bottom 0

.profile-field
	margin-bottom 0.2em

.location
	// ...

.role
	opacity 0.6

.list-provider-username
	margin-top 0
	margin-bottom 0
	font-size 0.9em

.main
	// ...

.alternative
	opacity 0.4

#embedded-footer
	position fixed
	bottom 4em
	right calc(16px + 1em)
	text-align right
	z-index 1
	font-size 0.9em

.embedded-footer-separator
	opacity 0.2

@media only screen and (max-width: 900px)
	.image-container
		width 100%

	.intro-container
		margin 1em 0
		padding 0
		width 100%

	#nick, .profile-field
		width 100%
		text-align center

@media only screen and (max-width: 800px)
	.airing-date-prefix
		display none