.category
	flex 1
	min-width 300px
	max-width 100%

.categories
	display flex
	flex-flow row wrap

.field
	float left
	width 100%
	padding 0 0.5em
	box-sizing border-box

.value
	margin-left 0.5em
	font-weight bold
	font-size 1.1em