p
	a.ajax(href='/users') All
	|  | 
	a.ajax(href='/users/providers/list') Lists
	|  | 
	a.ajax(href='/users/providers/anime') Anime
	|  | 
	a.ajax(href='/users/joindate') Joined
	|  | 
	a.ajax(href='/users/watching/count') Watching
	|  | 
	a.ajax(href='/users/osu') Osu
	|  | 
	a.ajax(href='/users/staff') Staff