p
	a.ajax(href='/users') All at once
	|  | 
	a.ajax(href='/users/listproviders') List providers
	|  | 
	a.ajax(href='/users/joindate') Join date
	|  | 
	a.ajax(href='/users/taglines') Taglines
	|  | 
	a.ajax(href='/users/staff') Staff