section
	header
		h2 Users
	
	include header.jade
	
	if categories
		each category, categoryTitle in categories
			h3(title=category.length + (category.length === 1 ? ' user' : ' users'))= categoryTitle
			each user in category
				a.ajax.user(href='/+' + user.nick, title=user.nick)
					img.user-image(src=user.gravatarURL, alt='')