.user
	float left
	transform scale(1.0)
	transition all 250ms ease
	width 50px
	height 50px
	border-radius 100%
	&:hover
		box-shadow 0 0 8px rgb(0, 0, 0)

.user-image
	border-radius 100%
	margin 0 !important