section
	header
		h2 Users
	
	include header.pug
	include ../messages/avatar.pug
	
	if categories
		each category, categoryTitle in categories
			h3.user-category(title=category.length + (category.length === 1 ? ' user' : ' users'))= categoryTitle
			.user-list
				each user in category
					+avatar(user)