section
	header
		h2 Users
	
	p
		a.ajax(href='/users') All at once
		|  | 
		a.ajax(href='/users/listproviders') By list providers
		|  | 
		a.ajax(href='/users/countries') By countries
		|  | 
		a.ajax(href='/users/registration') By registration date
	
	each category, categoryTitle in categories
		h3(title=category.length + (category.length === 1 ? ' user' : ' users'))= categoryTitle
		each user in category
			.user
				a.ajax(href='/+' + user.nick, title=user.nick)
					img.user-image(src=user.gravatarURL, alt=user.nick)