if widgets
	section
		header
			h2 Anime related news
		
		each widget, title in widgets
			h3= title
			ul.news
				each item in widget
					li
						a(href=item.link, target='_blank', rel='nofollow')= item.title
		
		p.powered-by Powered by 
			a(href='http://www.animenewsnetwork.com/', target='_blank', rel='nofollow') animenewsnetwork.com