if animeList && animeList.length > 0
	ul
		each anime in animeList
			li
				a.ajax(href='/anime/' + anime.id)= anime.title.romaji
	
	.search-performance= 'Search completed in ' + time + ' ms.'
else if term
	p= 'No results for "' + term + '".'
else
	.anime-count= animeCount + ' anime in the database. Powered by Anilist.'