section
	header
		h2 Frequently Asked Questions
	
	dl
		dt What is this?
		dd.
			Anime Notifier takes all of your anime from a list provider and tries to match them with an anime provider.
			After that it also tries to get airing dates for each of your anime.
		
		dt Is this ready yet?
		dd.
			Software usually goes through 3 stages: Alpha, Beta and Release.
			Only the last stage is considered to be stable and fully functional.
			Anime Notifier is currently in Alpha stage, therefore it's far away from being finished yet.
		
		dt Why is my list not loading?
		dd Make you selected the correct list provider and also entered your username (not a link) for that site.
		
		dt Which apps can I use?
		dd Currently there is a Chrome extension but support for Firefox and Android is going to come soon.
		
		dt What does "list provider" mean?
		dd The site you are using to manage your anime list, e.g. myanimelist.net.
		
		dt What does "anime provider" mean?
		dd The site you are using to watch anime.
		
		dt What does "airing date provider" mean?
		dd The site you want to use as a source for airing dates. Whether an airing date is available or not depends on the site you chose.
		
		dt Why does my profile not appear on the user list?
		dd In order to appear in the user list you need to have a username on Anime Notifier and you also need to enter the username for the list provider you selected.