section
	header
		h2 Frequently Asked Questions
	
	dl
		dt What is this?
		dd.
			Anime Notifier takes all of your anime from a list provider and tries to match them with an anime provider.
			Additionally it also tries to get airing dates for each of your anime.
		
		dt Is this finished yet?
		dd.
			Software usually goes through 3 stages: Alpha, Beta and Release.
			Only the last stage is considered to be stable and fully functional.
			Anime Notifier is currently in Alpha stage, therefore it's far away from being finished yet.
		
		dt Why is my list not loading?
		dd Make sure you selected the correct list provider and also entered your username (not a link) for that site.
		
		dt Which apps can I use?
		dd Currently there is only a Chrome extension but support for Firefox and Android is going to come soon.
		
		dt What does "list provider" mean?
		dd The site you are using to manage your anime list.
			if user
				|  You are currently using 
				span.user-data= user.providers.list
				| .
		
		dt What does "anime provider" mean?
		dd The site you are using to watch anime.
			if user
				|  You are currently using 
				span.user-data= user.providers.anime
				| .
		
		dt What does "airing date provider" mean?
		dd The site you want to use as a source for airing dates. Whether an airing date is available or not depends on the site you chose.
			if user
				|  You are currently using 
				span.user-data= user.providers.airingDate
				| .
		
		if !user || !user.providers.list || !user.listProviders[user.providers.list] || !user.listProviders[user.providers.list].userName
			dt Why is my profile not shown on the user list?
			dd In order to appear in the user list you need to 
				span.main-point set a username
				|  on Anime Notifier and you also need to enter the 
				span.main-point username for the list provider
				|  you selected.
		
		dt I've set my gravatar picture for my email but it doesn't show up?
		dd 
			if user
				| Remember to add 
				span.user-data= user.email
				|  as an email address to your gravatar account. 
			| Gravatar needs some time to update its cache.
			| You need to wait a few minutes before it shows up.
			
		dt Is Anime Notifier available in every country?
		dd Anime Notifier is currently available in every country except for Japan.