if !viewUser
	section
		header
			h2 Error
		
		p User not found.
else
	section
		img.user-image(src=viewUser.gravatarURL, alt='Profile image')
		h2(class='user-nick' + (user ? ' editable' : ''), data-binding='nick')= viewUser.nick