section
	header
		h2 Awards
	
	ul
		li
			a(href='https://developers.google.com/speed/pagespeed/insights/?url=notify.moe&tab=desktop', target='_blank') Performance
			.info Google PageSpeed
		li
			a(href='https://observatory.mozilla.org/analyze.html?host=notify.moe', target='_blank') Security
			.info Mozilla Observatory
		li
			a(href='https://ip6.nl/#!notify.moe', target='_blank') Connectivity
			.info IPv6