if !thread
	p Invalid thread.
else
	h2= thread.title
	
	include ../messages/renderMessage.jade
	
	.thread
		.posts
			+renderMessage(thread, user, 'Threads', thread.author.id)
			
			each post in posts
				+renderMessage(post, user, 'Posts', thread.author.id)