if !thread
	p Invalid thread.
else
	include ../messages/renderMessage.pug
	
	.thread
		h2.thread-title= thread.title
		
		.posts
			+renderMessage(thread, user, 'Threads', thread.author.id)
			
			each post in posts
				+renderMessage(post, user, 'Posts', thread.author.id)
	
			if user
				.post
					.post-author
						+avatar(user)
					.post-content
						textarea#post-input(placeholder='Reply...')
				.post-input-toolbar
					.spacer
					button.post-submit(onclick=`$.replyToThread('${thread.id}')`) Submit