.category
	float left
	width 645px
	max-width 100%

.fields
	clear both

.field
	float left
	width 100%
	padding 0 0.5em
	box-sizing border-box

.value
	margin-left 0.5em
	font-weight bold
	font-size 1.1em