.genre-header
	text-align center

.genre-anime-list
	display flex
	flex-flow row wrap
	float none !important
	justify-content center

.genre-anime-image
	width 16vw
	height 9vw
	min-width 90px
	min-height 127px
	max-width 200px
	max-height 282px
	object-fit cover

.genre-anime-link
	margin 0.5em
	flex-grow 0
	flex-shrink 0