p IRC support is available at:
ul
	li
		a(href='irc://irc.rizon.net:6667/arn') #arn
		|  on irc.rizon.net (Aky)

p Alternatively you can also contact me on:
ul
	li
		a(href='irc://irc.anilist.moe:6667/anilist') #anilist
		|  on irc.anilist.moe (Akyoto)
	li
		a(href='irc://irc.rizon.net:6667/anime-planet.com') #anime-planet.com
		|  on irc.rizon.net (Aky)
	li
		a(href='irc://irc.rizon.net:6667/hummingbird') #hummingbird
		|  on irc.rizon.net (Aky)
	li
		a(href='irc://irc.rizon.net:6667/myanimelist') #myanimelist
		|  on irc.rizon.net (Aky)