.category
	width 100%

	header
		width 100%

	h2
		text-align center
		font-size 3em

.box
	display inline-block
	padding 1em
	margin 0.5em
	width 256px
	text-align center
	&:hover
		text-decoration none
	span[itemprop="name"]
		display none

.scale
	transform scale(0.7)

	&:hover
		transform scale(0.9)

.login-button
	// transform scale(1.0)
	// transition all 250ms ease
	// border-radius 4px
	// &:hover
	// 	transform scale(1.05)

.finished
	color green
	text-decoration line-through

.not-finished
	color red