.dashboard-widget
	display flex
	flex-flow column
	align-items center

.dashboard-event
	display flex
	flex-flow column wrap
	margin-bottom 1rem
	padding 0.75rem
	width 100%
	max-width 700px

.dashboard-event-author
	display flex
	justify-content center
	width 100%

.dashboard-event-text
	display flex
	justify-content center
	align-items center
	width 100%