.forum-header
	text-align left

.forum-tags
	text-align left
	margin-bottom 1.5rem

.thread-link
	display flex
	flex-flow row
	width 100%

.thread-reply-count
.thread-icons
	opacity 0.5
	text-align right
	position relative

.thread-reply-count
	font-size 0.8rem
	flex 1
	margin 0 1rem

.thread-icons
	flex 0

.thread-content-container
	display flex
	align-items center
	width 100%

.thread-content
	display flex
	align-items center
	justify-content flex-start
	text-align left
	min-height 80%
	a
		color rgb(32, 32, 32) !important
		&:hover
			color linkHoverColor !important

// .thread-icon
// 	font-size 0.9em