.forum-tags
	text-align left
	margin-bottom 1.5rem

.thread
	display flex
	flex-flow row
	width 100%
	
.thread-author
	//

.thread-title
	// display flex
	// align-items center
	// justify-content center
	// text-align left
	
.thread-icons
.thread-reply-count
	flex 1
	text-align right
	opacity 0.5

.thread-reply-count
	&:after
		content " replies"
	
.thread-content-container
	display flex
	align-items center
	width 100%
	
.thread-content
	display flex
	align-items center
	justify-content flex-start
	text-align left
	min-height 80%
	// border-radius 0
	// margin-bottom -1px
	a
		color rgb(32, 32, 32) !important
		&:hover
			color linkHoverColor !important

.thread-icon
	font-size 0.9em
	
.sticky-thread
	//