.thread
	display flex
	flex-flow row
	width 100%
	
	
.thread-author
	//
	
.thread-title
	// display flex
	// align-items center
	// justify-content center
	// text-align left
	
.thread-reply-count
	flex 1
	text-align right
	opacity 0.5
	&:after
		content " replies"
	
.post-content
	display flex
	align-items center
	justify-content flex-start
	text-align left