mixin renderThreadLink(thread)
	.thread(class=thread.sticky ? 'sticky-thread' : '')
		.post-author.thread-author
			a.user.ajax(href='/+' + thread.author.nick, title=thread.author.nick)
				img.user-image(src=thread.author.avatar + '?s=50&r=x&d=mm', alt=)
		.thread-content-container
			.post-content.thread-content
				if thread.sticky
					i.fa.fa-thumb-tack.fa-fw.thread-icon
				a.ajax(href='/threads/' + thread.id).thread-title= thread.title
				.thread-icons
					each icon in thread.icons
						i(class='fa fa-' + icon + ' fa-fw thread-icon')
				//- .thread-reply-count= 25

section
	header
		h2 Forum
	
	.forum-tags
		a.ajax(href='/forum') All
		|  | 
		a.ajax(href='/forum/general') General
		|  | 
		a.ajax(href='/forum/news') News
		|  | 
		a.ajax(href='/forum/anime') Anime
		|  | 
		a.ajax(href='/forum/suggestion') Suggestions
		|  | 
		a.ajax(href='/forum/bug') Bugs
	
	each thread in threads
		+renderThreadLink(thread)
	
	a.create-thread.ajax(href='/threads/new') Create thread