@require "styles/config.styl"

.anime-list-container
	float left
	width 100%
	max-width 750px
	text-align left

.embedded-anime-list-container
	width calc(100% - 225px - 1em)
	.anime-image
		display block

.anime-list
	list-style-type none
	margin 0
	width 100%

.anime-status-icon
	margin 0 !important

.anime-image
	display none
	position fixed
	top 50%
	right calc(16px + 1em)
	z-index 9999
	width 225px
	margin 0
	padding 0
	opacity 0
	border-radius 3px
	box-shadow 0px 0px 8px rgba(0, 0, 0, 0.4)
	transform translate(10%, -50%)
	transition all 290ms ease
	pointer-events none

.anime
	padding 0.25em 0.75em
	border 1px solid rgba(0, 0, 0, 0.1)
	border-radius 3px
	margin 0.25em 0
	background linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 100%)
	display flex
	flex-direction row
	transition all 200ms ease
	&:hover
		background linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.03) 100%)
		.anime-image
			opacity 1
			transform translate(0, -50%)

.anime-title
.anime-view-link
	color darken(mainColor, 30%) !important
	&:hover
		color rgb(255, 32, 12) !important

.anime-title
	flex-grow 0
	flex-shrink 1
	white-space nowrap
	text-overflow ellipsis
	overflow hidden

.spacer
	flex 1

.anime-completed
.anime-warning
.anime-up-to-date
.anime-download-link
	flex 0 0 32px
	text-align right

.anime-completed
	color blue !important
	opacity 0.25
	&:hover
		opacity 0.7

.anime-warning
	color red !important
	opacity 0.2
	&:hover
		opacity 0.7

.anime-up-to-date
	color green !important
	opacity 0.7

.airing-date
.episodes-behind
	flex-grow 0
	flex-shrink 1
	opacity 0.5
	text-align right
	white-space nowrap

.episodes-behind
	&:before
		content '+'
	&:after
		content ''