@require "styles/config.styl"

.anime-list-container
	float left
	width 100%
	max-width 750px
	text-align left

.anime-list
	list-style-type none
	margin 0
	width 100%

.anime
	padding 0.25em 0.75em
	border 1px solid rgba(0, 0, 0, 0.1)
	border-radius 3px
	margin 0.25em 0
	background linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 100%)
	display flex
	flex-direction row

.anime-title
.anime-view-link
	color darken(mainColor, 30%) !important
	&:hover
		color rgb(255, 42, 12) !important

.anime-title
	flex 2
	white-space nowrap
	text-overflow ellipsis
	overflow hidden

.anime-completed
.anime-warning
.anime-up-to-date
.anime-download-link
	flex 0 0 32px
	text-align right

.anime-completed
	color blue !important
	opacity 0.25
	&:hover
		opacity 0.7

.anime-warning
	color red !important
	opacity 0.2
	&:hover
		opacity 0.7

.anime-up-to-date
	color green !important
	opacity 0.7

.airing-date
.episodes-behind
	flex 1
	opacity 0.5
	text-align right