@require "styles/config.styl"

.anime-list-container
	float left
	width 100%
	max-width 728px
	text-align left

.anime-list
	list-style-type none
	margin 0

.anime
	padding 0.25em 0.75em
	border 1px solid rgba(0, 0, 0, 0.1)
	border-radius 3px
	margin 0.25em 0
	background linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 100%)

.anime-link, .anime-view-link
	color darken(mainColor, 30%) !important
	&:hover
		color rgb(255, 42, 12) !important

.anime-view-link
	float right

.episodes-behind
	float right
	margin-right 0.8em
	opacity 0.5