html
	height 100%

body
	font-family "Ubuntu", "Trebuchet MS", sans-serif
	font-size 1.05em
	tab-size 4
	overflow-x hidden
	overflow-y hidden
	height 100%

a
	text-decoration none
	transition all 290ms ease
	&:hover
		text-decoration none

.powered-by
	opacity 0.8
	font-size 0.9em
	margin-top 1em

.maintenance
	width 100%
	height 100%
	text-align center
	padding 1em
	font-size 3em
	line-height 1.5em

.region-block
	float left
	width 100%
	font-size 1.2em
	padding 1em
	p
		text-align center

.tooltip
	display inline
	position relative
	&:hover
		&:after
			background rgb(51, 51, 51)
			background rgba(0, 0, 0, 0.8)
			border-radius 5px
			bottom 26px
			color rgb(255, 255, 255)
			content attr(data-tooltip)
			left 20%
			padding 5px 15px
			position absolute
			z-index 98
			width 220px
		&:before
			border solid
			border-color rgb(51, 51, 51) transparent
			border-width 6px 6px 0 6px
			bottom 20px
			content ""
			left 50%
			position absolute
			z-index 99