.cards
	display flex
	flex-flow row wrap
	justify-content center
	width 100%

.card
	flex 1
	display flex
	align-items center
	justify-content center
	min-width 300px
	min-height 180px
	background-color rgba(0, 0, 0, 0.03)
	border 1px solid rgba(0, 0, 0, 0.05)
	border-radius 5px
	margin 1rem
	padding 1rem
	font-size 1.5rem