@require "styles/config.styl"

html, body
	color rgb(60, 60, 60)
	background-color rgb(254, 254, 254)

a
	color mainColor
	&:hover
		color hoverColor

#header
	background-color rgb(245, 245, 245)
	background-image url("/images/backgrounds/saitama.png")
	background-repeat no-repeat
	background-size auto 100%
	background-position 100% 0%

#slogan
	color rgb(120, 120, 120)

#content
	background-color transparent

.navigation-link
	color rgb(160, 160, 160)
	&.active
	&:hover
		color rgb(80, 80, 80)
		text-shadow 1px 1px 3px rgba(4, 4, 4, 0.1)

.saving
	opacity 0.5 !important

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"]
	color rgb(32, 32, 32)
	background-color rgb(255, 255, 255)
	box-shadow none
	border 1px solid rgba(0, 0, 0, 0.1)
	&:focus
		color rgb(0, 0, 0)
		box-shadow 0 0 6px alpha(mainColor, 20%)
		border 1px solid mainColor

select
	color rgb(32, 32, 32)
	background linear-gradient(rgb(250, 250, 250), rgb(244, 244, 244) 40%, rgb(229, 229, 229))
	box-shadow 0 0 2px rgb(255, 255, 255), 0 -2px 5px rgba(0, 0, 0, 0.08) inset
	&:disabled
		background-color rgb(235, 235, 228)
	&:focus
		color rgb(0, 0, 0)
		box-shadow 0 0 6px alpha(mainColor, 20%)
		border 1px solid mainColor

.user-name
	a
		color rgb(16, 16, 16)

.list-provider-name-highlight
	color rgb(48, 48, 48)