mainColor = rgb(248, 165, 130)
hoverColor = rgb(255, 145, 70)

html, body
	color rgb(60, 60, 60)
	background-color rgb(254, 254, 254)

a
	color mainColor
	&:hover
		color hoverColor

#header
	background-color rgb(245, 245, 245)
	background-image url("/images/backgrounds/saitama.png")
	background-repeat no-repeat
	background-size auto 100%
	background-position 100% 0%

#tagline
	color rgb(120, 120, 120)

#content
	background-color transparent

.navigation-link
	color rgb(160, 160, 160)
	&.active
	&:hover
		color rgb(80, 80, 80)
		text-shadow 1px 1px 3px rgba(4, 4, 4, 0.1)

input[type="text"],
input[type="email"],
input[type="password"]
	color rgb(32, 32, 32)
	background-color rgb(255, 255, 255)
	box-shadow none
	border 1px solid rgba(0, 0, 0, 0.1)

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
	color rgb(0, 0, 0)
	box-shadow 0 0 6px rgba(16, 223, 120, 0.2)
	border 1px solid rgba(16, 223, 120, 0.95)

select
	color rgb(48, 48, 48)
	&:disabled
		background-color rgb(235, 235, 228)

.user-name
	a
		color rgb(16, 16, 16)

.list-provider-name-highlight
	color rgb(48, 48, 48)