mainColor = rgb(248, 165, 130)
hoverColor = darken(mainColor, 10%)
linkColor = darken(mainColor, 15%)
linkHoverColor = darken(hoverColor, 20%)
activeLinkColor = rgb(100, 149, 237)
uiBorder = 1px solid rgba(0, 0, 0, 0.1)
uiBackground = linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 100%)
uiHoverBackground = linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.03) 100%)