textColor = rgb(60, 60, 60)
mainColor = rgb(248, 165, 130)
hoverColor = darken(mainColor, 10%)
linkColor = darken(mainColor, 15%)
linkHoverColor = darken(hoverColor, 20%)
activeLinkColor = rgb(100, 149, 237)
uiBorder = 1px solid rgba(0, 0, 0, 0.1)
uiHoverBorder = 1px solid rgba(0, 0, 0, 0.15)
uiBackground = linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.037) 100%)
uiHoverBackground = linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.027) 100%)
outlineShadowLight = 0 0 6px alpha(black, 0.05)
outlineShadowMedium = 0 0 6px alpha(black, 0.13)
outlineShadowHeavy = 0 0 6px alpha(black, 0.6)
transitionSpeed = 290ms
fadeSpeed = 200ms

uiElement()
	border uiBorder
	background uiBackground
	transition all transitionSpeed ease

	&:hover
		border uiHoverBorder
		background uiHoverBackground
		box-shadow outlineShadowMedium