p, ul, ol, h3, blockquote
	line-height 1.7em
	float left
	width 100%

p, ul, ol, pre, h2, blockquote
	text-align left
	margin-top 0.4em
	margin-bottom 0.4em
	float left

table
	float left
	width 100%

iframe
	padding 0.5em
	float left
	display block
	margin 0 auto

pre
	border 1px solid rgb(128, 128, 128)
	padding 1em
	width calc(100% - 2em)
	box-shadow 1px 1px 16px rgba(0, 0, 0, 0.6)
	color rgb(224, 224, 224)
	background-color rgb(32, 32, 32)
	border none
	border-radius 3px

pre, code
	font-family 'Ubuntu Mono', Consolas, monospace

ul
	list-style-type square

ol
	list-style-type decimal

ul, ol
	list-style-position outside
	padding 0
	margin-left 1.7em
	width calc(100% - 1.7em)

strong
	font-weight bold

em
	font-style italic

hr
	clear both
	height 4px
	border-bottom 1px dotted #ccc
	border-left none
	border-right none
	border-top none

span.glyphicon
	font-size 0.9em
	margin-right 0.5em

table
	float left

th
	font-size 120%
	padding 5px 0
	text-align left

tr
	border-bottom-width 1px
	border-bottom-style solid
	border-bottom-color rgba(0, 0, 0, 0.05)

	&:last-child
		border none

td
	padding 0.3em 0.5em
	text-align left
	vertical-align top

td
	text-align left
	vertical-align top
	padding 0.5em