input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"]
	font-family "Open Sans", Ubuntu, sans-serif
	font-size 1em
	border-radius 3px
	transition all 0.5s ease
	margin 0 0 10px
	padding 0.4em 0.8em
	width calc(100% - 1.6em)
	max-width 728px
	float left
	&:focus
		outline none

input[type="submit"], .button, .ui-button
	font-family "Open Sans", Ubuntu, sans-serif
	font-size 1em
	color black
	padding 0.5em 2em
	border-radius 3px
	box-shadow none
	border none
	text-align center
	transition all 290ms ease

input[type="submit"]:hover, .button:hover
	cursor pointer
	background rgb(26, 26, 26)
	text-decoration none
	color white

form
	div
		a
			float right
			margin 30px 15px 0 0

textarea
	float left
	border 1px solid rgba(0, 0, 0, 0.5)
	border-radius 3px
	padding 0.2em 0.4em
	font-size 1em
	font-family "Open Sans", Ubuntu, sans-serif
	line-height 1.7em
	outline none
	resize vertical
	overflow auto

select
	// Layout
	float left
	padding 0.5em
	padding 5px 10px
	width 100%
	max-width 756px

	// Font
	font-size 1em
	font-weight normal
	font-family inherit

	transition all 0.5s ease
	-webkit-appearance none
	-moz-appearance none
	box-shadow 0px 1px 3px rgba(0, 0, 0, 0.1)
	user-select none
	border-radius 2px
	border 1px solid rgb(170, 170, 170)
	font-size inherit
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

.error
	padding 1em
	background-color rgb(255, 64, 64)
	color white
	border-radius 5px
	margin-bottom 1em