#posts
	display flex
	flex-flow column
	flex 1
	max-width 100%
	
.post
	display flex
	flex-flow row
	margin 0.5rem 0
	
.post-author
	flex-grow 0
	flex-basis 50px
	width 50px
	
	img
		margin 0 !important
	
#post-input
	width 100%
	min-height 150px
	margin 0.5rem 0
	
.post-submit
	margin-top 0.5rem
	max-width 200px
	align-items flex-end
	
.post-toolbar
	display flex
	flex-flow row
	
.post-content
	text-align left
	flex-grow 1
	padding 0.4rem 1rem
	margin-left 1rem
	background-color rgba(0, 0, 0, 0.03)
	border-radius 3px
	border 1px solid rgba(0, 0, 0, 0.08)
	
	h1
		font-size 1.5rem
		line-height 2em
			
	h2
		font-size 1.3rem
		line-height 2em
		font-weight normal
			
	h3
		font-size 1.1rem
		line-height 2em
		font-weight normal