h1
	display inline-block
	font-size 3em
	line-height 3em

h2
	font-size 2em
	line-height 1.5em
	font-weight bold
	width 100%

h3
	line-height 2em
	font-size 1.5em
	font-weight bold
	text-align left
	margin-top 1em