#container
	width 100%
	height 100%
	display block
	float left
	overflow auto
	opacity 0.05
	position absolute
	top 0
	left 0

#header-container
	display block
	float left
	width 100%
	height auto
	background-color transparent

#header
	display block
	margin 0 auto
	width 100%
	overflow hidden

#title-and-tagline
	float left
	width 100%

#ads
	float right
	margin-right 16px

#title, #tagline
	display block
	margin 0 auto
	width calc(100% - 3em)
	height auto
	text-align left

#title
	padding 1.5em
	padding-bottom 0.5em
	text-transform uppercase
	letter-spacing 1px
	opacity 0
	h1
		line-height inherit
	a
		text-decoration none

#tagline
	padding 1.5em
	padding-top 0.5em
	line-height 1.3em

#content-container
	display block
	float left
	width 100%
	height auto
	background-color transparent

#content
	display block
	width calc(100% - 3em)
	height 100%
	min-height 100%
	padding 1.5em
	line-height 1.7em
	overflow hidden
	text-align center
	img
		margin 0.5em auto
		max-width 100%
		height auto
	& > div
		float left
		width 100%
		text-align center

#footer-container
	display block
	float left
	width 100%
	height auto
	text-align center
	background-color transparent

#footer
	display none
	width calc(100% - 3em)
	height auto
	padding 0.5em 1.5em
	margin 0 auto
	overflow hidden
	font-size 0.8em
	line-height 1.3em
	text-align center

#navigation
	float left
	width 100%
	display block
	margin 0 auto
	width calc(100% - 3em)
	height 100%
	padding 0% 1.5em

.navigation-link
	display inline-block
	height 100%
	text-decoration none
	&:hover
		cursor pointer
		text-decoration none

.navigation-button
	padding 0.75em 1em
	font-size 1.1em
	line-height 1em
	transition all 290ms ease