@media only screen and (max-width: 1024px)
	#header
		background-image none

@media only screen and (max-width: 800px)
	#title, #slogan
		display none

	.navigation-text
		display none

	.navigation-button span.glyphicon
		margin-right 0

	.episodes-behind
		display none

	#header
		text-align center

	#navigation
		float none
		display inline-block
		width auto

@media only screen and (max-width: 550px)
	#navigation
		padding 0

	.navigation-link-right
		display none

	.navigation-button span.glyphicon
		font-size 1.5em