@media only screen and (max-width: 1024px)
	#header
		background-image none

@media only screen and (max-width: 800px)
	#title, #slogan
		display none

	.navigation-text
		display none

	.navigation-button i.fa
		margin-right 0

	.episodes-behind
		display none

	#content
		padding 1em

	#header
		text-align center

	#navigation
		float none
		display inline-block
		width auto

@media only screen and (min-width: 1100px)
	.anime-image
		display block

@media only screen and (max-width: 550px)
	#navigation
		padding 0

	.navigation-link-right
		display none

	.navigation-button i.fa
		font-size 1.5em