avatarSize = 50px

.user-list
	width 100%
	display flex
	flex-flow row wrap

.user
	display block
	transform scale(1.0)
	width avatarSize
	height avatarSize
	border-radius 100%
	margin 0.2em
	&:hover
		.user-image
			box-shadow 0 0 8px rgb(0, 0, 0)

.user-image
	opacity 0
	transition all 250ms ease
	border-radius 100%
	margin 0 !important
	width avatarSize
	height avatarSize

svg.user-image
	circle
		fill rgb(60, 60, 60)
	text
		fill white
		font-size 0.65rem