if !messages
	p No messages.
else
	include ../renderMessage.jade
	each message in messages
		+renderMessage(message, user, 'messages', null)

if user
	.post
		.post-author
			a.user.ajax(href='/+' + user.nick, title=user.nick)
				img.user-image(src=user.avatar ? (user.avatar + '?s=50&r=x') : '/images/elements/no-gravatar.png')
		.post-content
			textarea#post-input(placeholder='Enter your message here...')
	.post-input-toolbar
		.spacer
		button.post-submit(onclick='window.sendMessage()') Send message