section
	header
		h2 Others
	
	.cards
		a.card.ajax(href='/changes') Changes
		a.card.ajax(href='/roadmap') Roadmap
		a.card.ajax(href='/statistics') Statistics
		a.card.ajax(href='/status') Status
		a.card.ajax(href='/api') API