section
	header
		h2 Others
	
	.cards
		a.card.ajax(href='/changes')
			i.fa.fa-refresh
			| Changes
		a.card.ajax(href='/roadmap')
			i.fa.fa-road
			| Roadmap
		a.card.ajax(href='/statistics')
			i.fa.fa-bar-chart
			| Statistics
		a.card.ajax(href='/status')
			i.fa.fa-battery-three-quarters
			| Status
		a.card.ajax(href='/api')
			i.fa.fa-code
			| API
		a.card.ajax(href='/feedback')
			i.fa.fa-pencil
			| Feedback
		a.card(href='https://www.paypal.me/blitzprog', target='_blank')
			i.fa.fa-heart
			| Donate